# ==========================================
# Variables d'environnement - Mnemosyne
# ==========================================

# Configuration Flask
FLASK_APP=main.py
FLASK_ENV=development
FLASK_DEBUG=True
SECRET_KEY=votre_cle_secrete #à changer en production

# Configuration Base de Données
DATABASE_PATH=app/instance/scolarite.db

# Configuration Serveur
HOST=localhost
PORT=8000

# Configuration ScoDoc API (si utilisé)
SCODOC_API_URL=https://scodoc.univ-paris13.fr/ScoDoc/api
SCODOC_ID=votre_nom_utilisateur
SCODOC_PASSWORD=votre_mot_de_passe

# Configuration Session
SESSION_COOKIE_SECURE=False
SESSION_COOKIE_HTTPONLY=True
SESSION_COOKIE_SAMESITE=Lax

# Configuration Admin
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin_password_change_me
